{% extends 'base.html' %}
{% block title %}Admin{% endblock %}

{% block body %}
<h1>Admin Page</h1>

    <h2>Работники</h2>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Ключ</th>
        </tr>
        {% for worker in workers %}
        <tr>
            <td>{{ worker.id }}</td>
            <td>{{ worker.last_name }}</td>
            <td>{{ worker.first_name }}</td>
            <td>{{ worker.key }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Машины</h2>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Модель машины</th>
            <th>Номер</th>
        </tr>
        {% for vehicle in vehicles %}
        <tr>
            <td>{{ vehicle.id }}</td>
            <td>{{ vehicle.model }}</td>
            <td>{{ vehicle.plate }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Смены</h2>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Начало</th>
            <th>Конец</th>
            <th>Одометр</th>
            <th>Бензин</th>
            <th>ID работника</th>
            <th>ID машины</th>
        </tr>
        {% for shift in shifts %}
        <tr>
            <td>{{ shift.id }}</td>
            <td>{{ shift.date_started }}</td>
            <td>{{ shift.date_ended }}</td>
            <td>{{ shift.odometer }}</td>
            <td>{{ shift.diesel }}</td>
            <td>{{ shift.employer_id }}</td>
            <td>{{ shift.vehicle_id }}</td>
        </tr>
        {% endfor %}
    </table>

    <form id="sql-form" method="POST" action="/user/admin">
    <textarea class="textarea InputPole" name="sql_query" placeholder="Введите ваш SQL-запрос здесь"></textarea>
    <button type="submit">Выполнить</button>
    </form>

    {% if result_set %}
    <h2>Результаты:</h2>
    <table>
        <thead>
            <tr>
                {% for column, value in result_set[0].items() %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in result_set %}
                <tr>
                    {% for column, value in row.items() %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

<style>
textarea {
    height: 200px; /* Задайте желаемую высоту */
    width: 500px; /* Задайте желаемую ширину */
}
</style>
{% endblock %}


