{% extends 'base.html' %}
{% block title %}Admin{% endblock %}

{% block body %}
<div class="cover-container d-flex w-75 mx-auto flex-column justify-content-center">
    <div class="mb-3">
        <h1 class="display-5">Работники</h1>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Табельный номер</th>
                <th>Снилс</th>
                <th>Номер удостоверения</th>
                <th>Дата удостоверения</th>
                <th>Ключ</th>
            </tr>
            {% for worker in workers %}
            <tr>
                <td>{{ worker.id }}</td>
                <td>{{ worker.last_name }}</td>
                <td>{{ worker.first_name }}</td>
                <td>{{ worker.surname }}</td>
                <td>{{ worker.tabel }}</td>
                <td>{{ worker.snils }}</td>
                <td>{{ worker.license_number }}</td>
                <td>{{ worker.license_date }}</td>
                <td>{{ worker.key }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="mb-3">
        <h1 class="display-4">Машины</h1>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Модель машины</th>
                <th>Номер</th>
            </tr>
            {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.id }}</td>
                <td>{{ vehicle.model }}</td>
                <td>{{ vehicle.plate }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="mb-3">
        <h1 class="display-5">Смены</h1>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Тип</th>
                <th>Начало</th>
                <th>Одометр</th>
                <th>Бензин</th>
                <th>Конец</th>
                <th>Одометр</th>
                <th>Бензин</th>
                <th>Заправлено</th>
                <th>ID работника</th>
                <th>ID машины</th>
            </tr>
            {% for shift in shifts %}
            <tr>
                <td>{{ shift.id }}</td>
                <td>{{ shift.type }}</td>
                <td>{{ shift.date_started }}</td>
                <td>{{ shift.odometer_start }}</td>
                <td>{{ shift.diesel_start }}</td>
                <td>{{ shift.date_ended }}</td>
                <td>{{ shift.odometer_end }}</td>
                <td>{{ shift.diesel_end }}</td>
                <td>{{ shift.refill }}</td>
                <td>{{ shift.employer_id }}</td>
                <td>{{ shift.vehicle_id }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="mb-3">
        <form method="GET" action="/user/404/upload">
            <button class="btn btn-light w-50 py-2" type="submit">Загрузить данные</button>
        </form>
    </div>
    <div class="form-floating">
        <form id="sql-form" method="POST" action="/user/404">
            <textarea class="form-control" name="sql_query" placeholder="Введите ваш SQL-запрос здесь"></textarea>
            <button class="btn btn-primary w-50 py-2" type="submit">Выполнить</button>
        </form>
    </div>
    <div class="mb-3">
        {% if result_set %}
        <h2 class="display-5">Результаты:</h2>
        <table class="table">
            <thead>
                <tr>
                    {% for column, value in result_set[0].items() %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in result_set %}
                    <tr>
                        {% for column, value in row.items() %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}


