{% extends 'base.html' %}

{% block title %}Открыть смену{% endblock %}

{% block body %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column justify-content-center">
    <form method="POST">
        <div class="mb-3">
            <h1 class="display-4">Авторизация</h1>
        </div>
        <div class="mb-3">
        <label for="KeyInput">номер пропуска</label>
        <input type="text" class="InputPole form-control" id="KeyInput" name="KeyInput" placeholder="номер пропуска">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary w-50 py-2" type="submit">Sign in</button>
        </div>
    </form>
</div>
{% endblock %}
