{% extends 'base.html' %}

{% block title %}Открыть смену{% endblock %}

{% block body %}
<main class="container form-signin w-50 m-auto">
  <form>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="login" class="form-control" id="floatingInput" placeholder="номер пропуска">
      <label for="floatingInput">номер пропуска</label>
    </div>
    <div class="form-floating">
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
  </form>
</main>
{% endblock %}